<?xml version="1.0"?>
<model>
  <name>My Robot</name>
  <version>1.0</version>
  <sdf version='1.0'>myModel.sdf</sdf>
 
  <author>
   <name>Jason Ikonomopoulos</name>
   <email>pjikonomopoulos@utexas.edu</email>
  </author>
 
  <description>
    My awesome robot for ME369P-U19
  </description>
</model>
